* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Comviq-Reg';
    font-style: normal;
    font-weight: 400;
    src: local('Comviq-Reg'), url("./assets/fonts/ComviqSansWeb-Regular.woff") format('woff');
}

@font-face {
    font-family: 'Comviq-Bold';
    font-style: normal;
    font-weight: 400;
    src: local('Comviq-Bold'), url("./assets/fonts/ComviqSansWeb-Bold.woff") format('woff');
}

body {
    font-family: "Comviq-Reg, Arial, sans-serif";
}

h1 {
    font-family: 'Comviq-Reg';
}

p {
    font-family: 'Comviq-Reg';
}