* {
    padding: 0;
    margin: 2px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Comviq-Reg';
    font-style: normal;
    font-weight: 400;
    src: local('Comviq-Reg'), url("./assets/fonts/ComviqSansWeb-Regular.woff") format('woff');
}

@font-face {
    font-family: 'Comviq-Bold';
    font-style: normal;
    font-weight: 400;
    src: local('Comviq-Bold'), url("./assets/fonts/ComviqSansWeb-Bold.woff") format('woff');
}

body {
    font-family: "Comviq-Reg, Arial, sans-serif";
}

h1 {
    font-family: 'Comviq-Reg';
}

p {
    font-family: 'Comviq-Reg';
}

.nav{
  color: white;
  text-decoration: none;
  background-color: black;
  border: none;
  color: white;
  padding: 10px;
}

.pink-button {
  text-decoration: none;
  background-color: rgb(246, 7, 198);
  border: none;
  color: white;
  padding: 10px;
}

.order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(246, 7, 198);
}

.main-div{
  justify-content: center;
  display: flex;
}

.nav-bar {
  margin-left: 16.5%;
  margin-top: 5vh;
}